<div class="background">
<div class="container">
  <h1 class="mb-4">Perguntas Frequentes</h1>
  <div class="accordion" id="faqAccordion">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link" type="button">
            Como faço para criar uma conta?
          </button>
        </h2>
      </div>
      <div class="card-body">
        Para criar uma conta, basta clicar no botão "Criar conta" na parte
        superior da página inicial e preencher o formulário com suas informações
        de contato e endereço de entrega.
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button">
            Como posso acompanhar meu pedido?
          </button>
        </h2>
      </div>
      <div class="card-body">
        Você pode acompanhar o status do seu pedido acessando sua conta e
        verificando o histórico de pedidos ou entrando em contato com nosso
        serviço de atendimento ao cliente.
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button">
            Como faço para devolver um produto?
          </button>
        </h2>
      </div>
      <div class="card-body">
        Para devolver um produto, entre em contato com nosso serviço de
        atendimento ao cliente e informe o motivo da devolução. Faremos o
        possível para resolver o problema o mais rápido possível.
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mx-auto contact-form">
      <h3>Entre em Contato</h3>
      <form>
        <div class="form-group">
          <label for="name">Nome</label>
          <input type="text" class="form-control" id="name" required />
        </div>
        <div class="form-group">
          <label for="email">E-mail</label>
          <input type="email" class="form-control" id="email" required />
        </div>
        <div class="form-group">
          <label for="message">Mensagem</label>
          <textarea
            class="form-control"
            id="message"
            rows="5"
            required
          ></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
      </form>
    </div>
  </div>
</div>
</div>
